{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="hero-wrap js-fullheight" style="background-image: url('{{ asset('/assets/images/bg_1.jpg') }}');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
                <div class="col-md-7 ftco-animate">
                    <span class="subheading">Welcome to StudyLab</span>
                    <h1 class="mb-4">We Are Online Platform For Make Learn</h1>
                    <p class="caps">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                    <p class="mb-0"><a href="#" class="btn btn-primary">Our Course</a> <a href="#" class="btn btn-white">Learn More</a></p>
                </div>
            </div>
        </div>
    </div>



    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center pb-4">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">Start Learning Today</span>
                    <h2 class="mb-4">Browse Online Course Category</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-3 col-lg-2">
                    <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url('{{ asset('/assets/images/work-1.jpg') }}');">
                        <div class="text w-100 text-center">
                            <h3>IT &amp; Software</h3>
                            <span>100 course</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2">
                    <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url('{{ asset('/assets/images/work-9.jpg') }}');">
                        <div class="text w-100 text-center">
                            <h3>Music</h3>
                            <span>100 course</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2">
                    <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url('{{ asset('/assets/images/work-3.jpg') }}');">
                        <div class="text w-100 text-center">
                            <h3>Photography</h3>
                            <span>100 course</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2">
                    <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url('{{ asset('/assets/images/work-5.jpg') }}');">
                        <div class="text w-100 text-center">
                            <h3>Marketing</h3>
                            <span>100 course</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2">
                    <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url('{{ asset('/assets/images/work-8.jpg') }}');">
                        <div class="text w-100 text-center">
                            <h3>Health</h3>
                            <span>100 course</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2">
                    <a href="#" class="course-category img d-flex align-items-center justify-content-center" style="background-image: url('{{ asset('/assets/images/work-6.jpg') }}');">
       <span class="text w-100 text-center">
          <h3>Audio Video</h3>
          <span>100 course</span>
      </span>
                    </a>
                </div>
                <div class="col-md-12 text-center mt-5">
                    <a href="#" class="btn btn-secondary">See All Courses</a>
                </div>
            </div>
        </div>
    </section>



    <section class="ftco-intro ftco-section ftco-no-pb">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <div class="img"  style="background-image: url('{{ asset('/assets/images/bg_4.jpg') }}');">
                        <div class="overlay"></div>
                        <h2>We Are StudyLab An Online Learning Center</h2>
                        <p>We can manage your dream building A small river named Duden flows by their place</p>
                        <p class="mb-0"><a href="#" class="btn btn-primary px-4 py-3">Enroll Now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center pb-4">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">Our Blog</span>
                    <h2 class="mb-4">Recent Post</h2>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col-lg-4 ftco-animate">
                    <div class="blog-entry">
                        <a href="blog-single.html" class="block-20" style="background-image: url('{{ asset('/assets/images/image_1.jpg') }}');">
                        </a>
                        <div class="text d-block">
                            <div class="meta">
                                <p>
                                    <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 17, 2020</a>
                                    <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
                                    <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
                                </p>
                            </div>
                            <h3 class="heading"><a href="#">I'm not creative, Should I take this course?</a></h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia...</p>
                            <p><a href="blog.html" class="btn btn-secondary py-2 px-3">Read more</a></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 ftco-animate">
                    <div class="blog-entry">
                        <a href="blog-single.html" class="block-20" style="background-image: url('{{ asset('/assets/images/image_2.jpg') }}');">
                        </a>
                        <div class="text d-block">
                            <div class="meta">
                                <p>
                                    <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 17, 2020</a>
                                    <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
                                    <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
                                </p>
                            </div>
                            <h3 class="heading"><a href="#">I'm not creative, Should I take this course?</a></h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia...</p>
                            <p><a href="blog.html" class="btn btn-secondary py-2 px-3">Read more</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 ftco-animate">
                    <div class="blog-entry">
                        <a href="blog-single.html" class="block-20" style="background-image: url('{{ asset('/assets/images/image_3.jpg') }}');">
                        </a>
                        <div class="text d-block">
                            <div class="meta">
                                <p>
                                    <a href="#"><span class="fa fa-calendar mr-2"></span>Sept. 17, 2020</a>
                                    <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
                                    <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
                                </p>
                            </div>
                            <h3 class="heading"><a href="#">I'm not creative, Should I take this course?</a></h3>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia...</p>
                            <p><a href="blog.html" class="btn btn-secondary py-2 px-3">Read more</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
